<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Lora|Patua+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="vueWysiwyg.css">
  <!-- text -->

  <title>Erste Press</title>
</head>
<style>
  .login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: rgb(128, 63, 194);
    min-width: 100%;
    min-height: 100%
  }

  .box-login {
    margin: 10%;
    width: 42vw;
    height: 70vh;
    background: rgb(28, 154, 228);
    border-radius: 25px;
  }

  #sign_form {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 15%;
  }

  #emailSign {
    margin: 3%;
    min-height: 50px;
    width: 290px
  }

  #passSign {
    margin: 3%;
    min-height: 50px;
    width: 290px
  }

  #buttonSign {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 40px
  }
  .action{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action-owner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-owner i {
    position: relative;
    color: rgb(76, 5, 104);
    margin: 6%;
    padding: 4%;
    size: 10%;
  }
  .action-owner i:hover {
    position: relative;
    color: rgb(0, 0, 17);
    margin: 6%;
    bottom: 2.5%;
    height: 6vh;
  }
</style>

<body>
  <div id="app">
    <div v-if="!login" class="login">
      <div class="box-login">
        <h2>Yoo</h2>
        <form id="sign_form">
          <input type="email" name="emailSign" id="emailSign" placeholder="E-mail">
          <input type="password" name="passSign" id="passSign" placeholder="Password">
          <button href="#" class="btn btn-warning btn-lg" role="button" id="buttonSign" aria-pressed="true">Sign
            In</button>
        </form>
      </div>
    </div>








    <div class="dashboard" v-else="login">
      <div class="navabar-dash">
        <div class="logo">
          <img src="https://cdn3.imggmi.com/uploads/2019/9/9/cbf7ba2f3586a70bc6c2278e29d37997-full.png" alt="">
          <h4>E.P</h4>
        </div>
        <div class="icon">
          <div class="reader" id="icon-bar">Reader</div>
          <div class="write" id="icon-bar">Write</div>
          <div class="logout" id="icon-bar">Logout</div>
        </div>
      </div>
      <div class="main"></div>
      <div id="wrapper1">
        <div class="left-bar">
          <div class="account">
            <div class="avatarImg">
              <img
                src="https://png.pngtree.com/png-vector/20190702/ourlarge/pngtree-lady-avatar-vector-free-png-image_1529550.jpg"
                alt="Avatar">
              <h2>Erste Damen</h2>
              <h5>3 article</h5>
            </div>
          </div>
          <div class="media">
            <p class="newArticle"><i class="fas fa-plus-square" type="button"></i> Create Article</p>
            <p class="userArticle"><i class="fas fa-newspaper" type="button"></i> My Article</p>
            <p class="userArticle"><i class="fas fa-tools" type="button"></i> Setting</p>
            <p class="userArticle"><i class="fas fa-border-all" type="button"></i> Style</p>
          </div>
        </div>
        <div class="timeline">
          <div id="timeline-box">
            <div class="navabar-timeline" id="box">
              <div class="showAll">
                <div class="show-tl" id="show-1">
                  <p>Timeline</p>
                </div>
                <div class="myarticle" id="show-1">
                  <p>My Article</p>
                </div>
              </div>
              <div class="serachArt">
                <div class="search-art">
                  <form class=" form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </form>

                </div>
              </div>
            </div>
            <div class="articles" id="box" v.on>
              <div class="article" id="number" v-for="item in items">
                <div class="summary">
                  <h3>{{item.title}}</h3>
                  <p>{{item.content}}</p>
                  <a href="#">{{item.author.name}}</a>
              {{item.author._id}}
                  

                </div>
                <div class="action">
                
                    <div class="action-owner" v-if='(item.author._id===currentUser._id)'>

                      <i class="fas fa-pencil-alt fa-2x" @click="updateArticle(item._id)"></i>
                      <i class="fas fa-trash-alt fa-2x" @click="deleteArticle(item._id)"></i>
                    </div>
                    <div v-else>
                    
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <form action enctype="multipart/form-data" @submit.prevent="trackingInput">
          <input type="text" placeholder="Title" v-model="title" />
          <wysiwyg v-model="content">
            <div>
            </div>
          </wysiwyg>
          <button class='btn btn-warning' type="submit" @click="createArticle">Submit</button>
        </form>
      </div>
      <div>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vueWysiwyg.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const baseUrl = 'http://localhost:3000'
    var app = new Vue({
      el: '#app',
      data: {
        currentUser : {
          _id : '5d7752cd08de0746b7f018cb'
        },
        login: true,
        message: 'Hello Vue!',
        title: "",
        content: "",
        items: [],
        page: 'write'
      },
      methods: {
        trackingInput() {
          let formData = new FormData();
          formData.set("title", this.title);
          formData.set("content", this.content);
        },
        createArticle (){
          axios({
            method : 'POST',
            url : baseUrl+'/articles/create',
            data : {
              title : this.title,
              content : this.content
            },
            headers : {
              token : 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZDc3NTJjZDA4ZGUwNzQ2YjdmMDE4Y2IiLCJuYW1lIjoiQXl1IFN1ZGkiLCJlbWFpbCI6ImF5dXN1ZGlAeWFob28uY29tIiwiaWF0IjoxNTY4MTA1NjUwfQ.MQK4Ehic3sIjwxpzu0L2IuPueWSKI40BpjQe4gWzdbI'
            }
          })
          .then(data =>{
            console.log(data);
          })
          .catch(({response})=>{
            console.log(response.data);
            // let data = response.status
            // let msg = response.errMsg
            // console.log(response, '<<<<')
          })
        },
        deleteArticle(input){
          axios({
            method: 'DELETE',
            url : baseUrl+'/articles/'+input,
            headers : {
              token : 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZDc3NTJjZDA4ZGUwNzQ2YjdmMDE4Y2IiLCJuYW1lIjoiQXl1IFN1ZGkiLCJlbWFpbCI6ImF5dXN1ZGlAeWFob28uY29tIiwiaWF0IjoxNTY4MTA1NjUwfQ.MQK4Ehic3sIjwxpzu0L2IuPueWSKI40BpjQe4gWzdbI'
            }
          })
          .then(data =>{
            console.log(data);
          })
          .catch (err =>{
            console.log(err);
          })
        }
      },
      components: {
        wysiwyg: vueWysiwyg.default.component,
      },
      mounted() {
        axios({
            method: 'GET',
            url: 'http://localhost:3000/articles',
            headers: {
              token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZDc3NTJjZDA4ZGUwNzQ2YjdmMDE4Y2IiLCJuYW1lIjoiQXl1IFN1ZGkiLCJlbWFpbCI6ImF5dXN1ZGlAeWFob28uY29tIiwiaWF0IjoxNTY4MTA1NjUwfQ.MQK4Ehic3sIjwxpzu0L2IuPueWSKI40BpjQe4gWzdbI'
            }
          })
          .then((result) => {
            console.log(result);
            this.items = result.data.articles
          })
          .catch(err => {
            console.log(err);
          })
      }
    })

    console.log(app);
  </script>
</body>

</html>