<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/theme.css">
    <link rel="stylesheet" type="text/css" href="./css/vueWysiwyg.css">
    
    
    <title>Cerita-cerita Sore</title>
  </head>
  <body>
      
        <div id=app>

                <div class="wrapper fadeInDown" v-if="login === false">
                        <div id="formContent">
                          <!-- Tabs Titles -->
                          <h2 :class="{active:clicksignin}" @click.prevent="formlogin"> Sign In </h2>
                          <h2 :class="{active:clickregister}" @click.prevent="registerform">Sign Up </h2>
                      
                              <!-- Icon -->
                        <div class="fadeIn first">
                            <img src="./images/logo.png" id=icons alt="User Icon" />
                        </div>

                          <!-- Login Form -->
                          <form id="login-form" v-if="register===false"  @submit.prevent="loginsuccess">
                            <input type="text" v-model="email" id="login" class="fadeIn second" name="login" placeholder="email">
                            <input type="password" v-model="password" id="password" class="fadeIn third" name="login" placeholder="password">
                            <input type="submit" class="fadeIn fourth" value="Log In">
                          </form>

                          <!-- Register Form -->
                             <form id="login-form" v-if="register===true" @submit.prevent="regis">
                                <input type="text" v-model="username" id="username" class="fadeIn second" name="login" placeholder="username">
                                <input type="email" v-model="email" id="email" class="fadeIn second" name="login" placeholder="email">
                                <input type="password" v-model="password" id="password" class="fadeIn third" name="login" placeholder="password">
                                <input type="submit" class="fadeIn fourth" value="Register">
                            </form>
                      
                          <!-- Remind Passowrd -->
                          <div id="formFooter">
                            <a class="underlineHover" href="#">Forgot Password?</a>
                          </div>
                      
                        </div>
                </div>


        <div id="after-login" v-if="login === true">
        <div class="container" id="container-navbar" v-if="login">
                <div class="item-navbar" id="logo-navbar">
                    <img src="./images/logo.png" id="logo-navbar">
                </div>
                <h3 id="tagline">Yuk Cerita-cerita Sore</h3>
                <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
                <div class="item-navbar" id="login-logout"><button class="button"><span>Logout</span></button></div>
        </div>

        <!-- The sidebar -->
        <aside>
        <div class="sidebar">
            <a href="" @click.prevent="fetchData">Home</a>
            <a href="" @click.prevent="fetchMyArticle">Your Article</a>
            <a href="" @click.prevent="addForm({})" id="create-article">Create article</a>
            <a href="#about">About</a>
        </div>
        </aside>


        <div class="content" v-if="activeNav === 'mainminiWP'">
            <div class="center">
                <div class="published-drafts">
                    <div id="container-pod">
                            <div class="btn-group">
                                    <button class="button">Published</button>
                                    <button class="button">Drafts</button>
                            </div>
                    </div>
                    <div>
                        <input type="text" id="search-article" v-model="search_article" placeholder="Search.." title="Type in a category">
                    </div>
                </div>
                <div class="list-article"  v-for=" article in articles">
                    <div id="name-article">
                    {{article.title}}
                    </div>
                    <div id="image-article">
                    Image
                    </div>
                    <div class="btn-group">
                            <button class="button" @click.prevent="addForm({id: article._id, title: article.title, content: article.content})"><i class="fa fa-pencil"></i> Edit</button>
                            <button class="button" @click.prevent="deleteData(article._id)"><i class="fa fa-trash"></i> Trash</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div v-else-if="activeNav === 'createPost'" id="createPost">
                <input type="text" id="postTitleInput" v-model="selectedpost.title" placeholder="Your title here">
                <wysiwyg v-model="selectedpost.content"></wysiwyg>
                <input v-model="image_wp" type="file" style="width:200px">
                <button class="button" @click.prevent="saveArticle" id="savePost"><i class="fa fa-send"></i> Submit</button>
        </div>
    </div>

    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="./js/vueWysiwyg.js"></script> 
  <script>
      let baseurl = "http://34.87.55.207"
      var app =new Vue({
        el: '#app',
        components: {
          wysiwyg: vueWysiwyg.default.component,
        },
        data:{
            selectedpost :{},
            image_wp,
            title : "",
            content: "",
            email: "",
            password: "",
            username: "",
            articles:[],
            register:false,
            loginform:true,
            login:false,
            clicksignin:true,
            clickregister: false,
            search_article: "",
            activeNav:true
        },
        methods:{
            fetchData(){
                this.activeNav = "mainminiWP"
                axios({
                method: 'GET',
                url: `${baseurl}/miniWp`,
                headers:{
                    token: localStorage.getItem('token')
                }
            })
            .then((response) => {
                console.log(response.data)
                this.articles = response.data
            }).catch(error=> console.log(error))
            },
            fetchMyArticle(){
                axios({
                method: 'GET',
                url: `${baseurl}/miniWp/myArticle`,
                headers:{
                    token: localStorage.getItem('token')
                }
            })
            .then((response) => {
                console.log(response.data)
                this.articles = response.data
            }).catch(error=> console.log(error))
            },
            addForm(selected){
                if(selected){
                    this.selectedpost = selected
                }
                this.activeNav = "createPost"
            },
            registerform(){
                this.addForm = "",
                this.email =  "",
                this.password =  "",
                this.username = "",
                this.register = true
                this.loginform = false
                this.clicksignin = false
                this.clickregister = true
            },
            formlogin(){
                this.addForm = "",
                this.email =  "",
                this.password =  "",
                this.username = "",
                this.loginform = true
                this.register = false
                this.clicksignin = true
                this.clickregister = false
            },
            regis(){
                axios({
                    method: 'POST',
                    url: `${baseurl}/user/register`,
                    data:{
                        name: this.username,
                        email: this.email,
                        password: this.password
                    }
                }).then((response)=>{
                    console.log(response.data)
                    Swal.fire(
                    'Good job!',
                    'You success register'
                    )
                })
                .catch(error=> console.log(error))
            },
            saveArticle(){
               // console.log("masuk")
               let url =""
               let methods=""
               if(this.selectedpost.id){
                url = `${baseurl}/miniWp/`+this.selectedpost.id
                methods = "PATCH" 
               } else {
                url = `${baseurl}/miniWp/`
                methods = "POST"
               }
                axios({
                    method:methods,
                    url:url,
                    data:{
                        title: this.selectedpost.title,
                        content: this.selectedpost.content
                    },
                    headers:{
                        token: localStorage.getItem('token')
                    }
                }).then((response)=>{
                    console.log(response.data)
                    if(this.selectedpost.id){
                        Swal.fire("Good job, Success Edit Article")
                    } else {
                        Swal.fire("Good job, Success Create Article")
                    }
                    this.activeNav = "mainminiWP"
                    this.selectedpost = {}
                    this.fetchData()                
                    }).catch(error=> console.log(error.response))
            },
            loginsuccess(){
                console.log("masuk")
                Swal.fire({
                title: 'Loggin in...',
                allowOutsideClick: () => !Swal.isLoading()
                })
                Swal.showLoading()
                axios({
                    method: 'POST',
                    url: `${baseurl}/user/signin`,
                    data:{
                        email: this.email,
                        password: this.password
                    }
                }).then((response)=>{
                    console.log(response.data)
                    Swal.close()
                    Swal.fire("Success!", "Your are Logged in!", "success");
                    localStorage.setItem('token', response.data.token)
                    this.login = true
                    this.fetchData()                
                    }).catch(error=> console.log(error.response))
            },
            deleteData(id){
                console.log(id)
                axios({
                    method: 'DELETE',
                    url:`${baseurl}/miniWp/`+id,
                    headers:{
                        token: localStorage.getItem('token')
                    }
                }).then((response)=>{
                    Swal.fire("Success Delete");
                    this.fetchData()
                }).catch(error => console.log(error))
            }
        },
        created(){
            let token = localStorage.getItem("token")

            if(token){
                this.login = true
                this.fetchData()
            }
            else {
                this.login = false
            }
        },
        watch: {
            search_article: function(){
                axios({
                    method: 'POST',
                    url: `${baseurl}/miniWp/search`,
                    data:{
                        search : this.search_article
                    },
                    headers:{
                        token: localStorage.getItem('token')
                    }
                }).then((response) => {
                console.log(response.data)
                this.articles = response.data
            }).catch(error=> console.log(error))
            }
        }
        
      })

  </script>
</html>