body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

#wrapper1 {
    min-height: 100vh;
    color: rgb(46, 29, 29);
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    grid-auto-rows: minmax(50px, auto)
}

.left-bar {
    height: 100%;
    background: rgb(219, 219, 214);
    box-shadow: -10px 0 10px -10px rgb(134, 125, 125) inset;
}

.account {
    color: aliceblue;
    height: 36vh;
    background: linear-gradient(180deg, rgb(19, 2, 11), rgb(87, 86, 80));
    box-shadow: -10px 0 10px -10px rgb(134, 125, 125) inset;
}

.avatarImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

div.avatarImg img {
    width: 10vw;
    border-radius: 50%
}

.media {
    padding: 9%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: rgb(219, 219, 214);
    box-shadow: -10px 0 10px -10px rgb(134, 125, 125) inset;
}

.media p:hover{
    color: rgb(8, 67, 134);
    font-size: 2.5vh;
}

.timeline {
    padding-top: 20px;
    background: linear-gradient(90deg, #B4D2D9, rgb(232, 244, 247))
}

#timeline-box {
    padding: 2% 6% 2% 6%;
    margin: 4%;
    min-height: 100vh;
    background: #313E40;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
}

.navabar-timeline {
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    width: 65vw;
    height: 15vh;
    background: #F2D0A7;
    font-family: 'Patua One', cursive;
    font-size: 3vh;
}

.showAll {
    display: flex;
    flex-direction: row;
}

#show-1 {
    margin-right: 15pt
}

#show-1:hover{
    color: rgb(103, 128, 133);
}

.articles {
    padding-top: 8%;
    padding-bottom: 7%;
    border-radius: 25px;
    width: 65vw;
    min-height: 100vh;
    background: #D9AB91;
}

#box {
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px
}

.navabar-dash {
    display: grid;
    grid-template-columns: 1.2fr 9fr;
    min-width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0;
    background: #6C898C;
    font-family: 'Patua One', cursive;
    font-size: 3vh;
    -webkit-text-stroke-width: 0.5px;
    color: white
}

.logo {
    box-shadow: 0 -15px 15px -15px black inset;
    padding-left: 10px;
    background: linear-gradient(98deg, rgb(87, 51, 3), rgb(122, 87, 5));
    display: flex;
    justify-content: flex-start;
}

div.logo h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 208, 0);
    font-family: 'Diplomata SC', cursive;
    font-weight: bolder;
    font-size: 5vh
}

div.logo img {
    width: 45%;
}

.icon {
    box-shadow: 0 -15px 15px -15px black inset;
    padding-top: 1.5%;
    padding-right: 2%;
    display: flex;
    flex-direction: columns;
    justify-content: flex-end;
    background: linear-gradient(98deg, rgb(63, 116, 131), rgb(124, 158, 161));
}

#icon-bar {
    padding-left: 8px
}

#icon-bar:hover{
    color: rgb(247, 213, 26)
}

.articles {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    display: grid;
    grid-template-columns: 8fr 2fr;
    margin-bottom: 2%;
    width: 90%;
    min-height: 10vw;
}

.summary {
    padding: 2% 0 2% 5%; 
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    background: rgb(253, 253, 253)
}

.action {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background: rgb(229, 232, 235)
}