/*!
 * Google Play Look A Like
 * Author: Nucky Ridwan Gunawan
 * Copyright : Nucky Ridwan Gunawan
 *
 *
 * Attribution: Animate CSS, Twitter Bootstrap, Materialize CSS, Normalize CSS, Waves JS, WOW JS, Toastr, Chart.js
 *


/* HEADER PLAY */

body {
    background: #eee;
    overflow-x: hidden;
    display: none
}

#header-play {
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #f1f1f1;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
}

#header-logo {
    height: 30px;
}

#header-search input {
    width: 780px;
    border: none;
    padding: 5px 20px;
    font-size: 14px;
}

#header-search input[type=text] {
    padding-bottom: 12px;
    line-height: 1;
}

#header-search input[type=text]:focus {
    outline: none;
}

/* MENU PLAY */
#menu-play {
    position: fixed;
    top: 60px;
    left: 200px;
    display: flex;
    width: calc(100% - 200px);
    height: 50px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    z-index: 999;
}

.menu-play-item {
    height: 100%;
    padding: 0 20px;
}

/* hover */
div.menu-play-item:hover {
    cursor: hand;
    cursor: pointer;
    background: #e2e2e2;
}


/* NAVBAR PLAY */

#navbar-play {
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: #f1f1f1;
    align-items: center;
    z-index: 999;
}

#navbar-menu {
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.navbar-play-item {
    width: 100%;
    height: 50px;
}


/* item 1 */
#navbar-item-1::before {
    content: "";
    position: relative;
    height: 100%;
    padding-left: 60px;
    background:transparent;
}

#navbar-item-1 {
    background: #444444;
    color: white;
    font-size: 18px;
}

#navbar-item-1 .text {
    margin-left: 15px;
}

#navbar-item-1 .text::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f001";
    color: white;
    margin-left: -50px;
}

/* hover */
div#navbar-item-1:hover {
    cursor: hand;
    cursor: pointer;
}

/* item 2 */
#navbar-item-2::before {
    content: "";
    position: relative;
    height: 100%;
    padding-left: 60px;
    background: #689f38;
}

#navbar-item-2 {
    background: #f5f5f5;
    color: #6f6f6f;
    font-size: 18px;
}

#navbar-item-2 .text {
    margin-left: 15px;
}

#navbar-item-2 .text::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f003";
    color: white;
    margin-left: -50px;
}

/* hover */
div#navbar-item-2:hover {
    cursor: hand;
    cursor: pointer;
    background: #689f38;
    color: white;
}


/* item 3 */
#navbar-item-3::before {
    content: "";
    position: relative;
    height: 100%;
    padding-left: 60px;
    background: #ee453b;
}

#navbar-item-3 {
    background: #f5f5f5;
    color: #6f6f6f;
    font-size: 18px;
}

#navbar-item-3 .text {
    margin-left: 15px;
}

#navbar-item-3 .text::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f004";
    color: white;
    margin-left: -50px;
}

/* hover */
div#navbar-item-3:hover {
    cursor: hand;
    cursor: pointer;
    background: #ee453b;
    color: white;
}

/* item 3 */
#navbar-item-4::before {
    content: "";
    position: relative;
    height: 100%;
    padding-left: 60px;
    background: #1a9be4;
}

#navbar-item-4 {
    background: #f5f5f5;
    color: #6f6f6f;
    font-size: 18px;
}

#navbar-item-4 .text {
    margin-left: 15px;
}

#navbar-item-4 .text::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f007";
    color: white;
    margin-left: -50px;
}

/* hover */
div#navbar-item-4:hover {
    cursor: hand;
    cursor: pointer;
    background: #1a9be4;
    color: white;
}

/* navbar link */
#navbar-link {
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.navbar-link-item {
    width: 100%;
    margin: 0px;
    padding: 5px 20px;
    font-size: 14px;
    text-align: left;
}

/* hover */
div.navbar-link-item:hover {
    cursor: hand;
    cursor: pointer;
    background: #e2e2e2;
}

/* BODY PLAY */

#body-play {
    position: relative;
    display: flex;
    width: calc(100% - 200px);
    align-items: center;
    margin: 120px 0px 0px 200px;
}