
body {
    background-color: lightgray
}

.nav-link {
    font-family: 'Racing Sans One', cursive;
    font-size: 2em;
    color: #393838 
}

#sidenav ul li {
    position: fixed; 
    height: 80%;
    left: -180px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 200px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-family: 'Racing Sans One', cursive;
    background-color: #393838; 
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#sidenav ul li:hover {
    left: 0;
}

#sidenav ul li a {
    font-size: 20px; /* Increase font size */
    cursor: pointer
}

.active {
    background-color: #393838; 
    color: white
}

.intro-pic {
    background-image: url('https://metro.co.uk/wp-content/uploads/2016/06/horizontal_14658686781.jpg?quality=80&strip=all');
    height: 400px
}

.content, .overlay {
    grid-area: 1 / 1;
  }

.row {
    margin-top: 40px
}

.post-history {
    background-color: white
}

.post {
    margin: 3% 3%;
    height: 300px;
    overflow: scroll
}

.post .col-5 img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.btn-invitation-to-write {
    height: 100px;
    background-color: #393838 ;
    font-family: 'Racing Sans One', cursive;
    font-size: 2em;
    text-align: center;
    color: azure;
}

.quill-container {
    display: none;
    background-color: honeydew;
    position: fixed;
    bottom: 50px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.article {
    padding : 20px 50px;
    background-color: gainsboro
}

footer {
    background-color: #393838;
    color: white 
}

footer ul {
    text-align: center;
    list-style-type: none;
    padding: 20px 20px
}

footer ul li {
    font-family: 'Racing Sans One', cursive;
    display: inline-block;
    padding: 0px 10px;
    font-size: 1.5em;
    cursor: pointer
}

footer ul li a {
    display:block;
}

footer ul li:hover {
  color: #0056b3  
}
