
.loginCanvas {
    height: 100vh;
    width: 100vw;
}

.loginBox{
    position: relative;
    width: 25vw;
    height: 70vh;
    top: 11vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.center-single-element {
    display: flex;
    justify-content: center;
}
.loginBox input {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: #C2C2C1 0.5px solid;
    outline: none;
    padding-left: 1em;
    font-size: 1rem;
    box-sizing: border-box
}
.loginBox button:hover {
    background-color: #469FE7;
}
.loginBox button {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #2E8CD9;
    color: white;
    font-size: 1rem;
}
.loginBox h5 {
    color: #858585;
}
.loginBox .blue h5{
    color: #2E8BD3;
}

.loginBox .blue a {
    text-decoration: none;
}
.loginBox .blue a:hover{
    border-bottom: #2E8BD3 1px solid;
}
.loginBox .box2 {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.loginBox .formInput {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
