@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #343a40;
    color: white;
    padding: 1vh 1rem;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

#profile {
    flex-direction: row-reverse;
}

.nav-link-item {
    padding: 0 2rem;
}

.leftborder {
    background-color: #343a40;
    width: 0.5em;
}

nav div p {
    padding-left: 1rem;
}

.logo,
.profilePicture {
    max-width: 48px;
}

.profilePicture {
    padding-left: 1rem;
}