nav .img-fluid {
    max-width: 2.25rem;
}

.clickable:hover {
    cursor: pointer;
}

#sidebar-wrapper {
    height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}


#wrapper {
    min-height: 100vh;
}

#sidebar-heading {
    min-height: 100px;
}

#sidebar-toggler {
    background-color: #343a40;
    width: 15px;
    margin-left: 0px;
    order: 1;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#page-content-wrapper {
    order: 2;
    background-color: #eeeeee
}

#sidebar-toggler.moveright {
    margin-left: -1px;
}

#sidebar-toggler:hover {
    background-color: lightslategray
}

#wrapper .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrapper .list-group-item b {
    margin-left: 15px;
}

#wrapper .list-group-item i {
    min-width: 25px;
}