* {
  margin: 0;
  padding: 0;
}

/* Header jumbotron styling*/
.jumbotron {
  background-color: #cfffe5;
  text-align: center;
  font-family: Nunito;
  max-height: 250px;
}

body {
  background-color: #cfffe5;
  font-family: "Nunito", sans-serif;
}

#giphy {
  max-height: 100px;
}

#sidebar {
  background-color: gainsboro;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: #8ecf88;
}

#sidebar.active {
  margin-left: -250px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

footer {
  background-color: #29110b;
  color: #8ecf88;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.card {
  width: 70%;
  margin-top: 10px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.articles {
  display: flex;
  flex-direction: column;
}

.writeArticle {
  margin: 0 auto;
}

.writeContainer {
  background-color: #c9a89f;
  width: 60vw;
  margin: 10px;
}
