<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- JQueryAJAX CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Quill CDN -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Google Sign in -->
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="734256907949-pdvtvtsadqpp21loi6mvum2jenjgl01i.apps.googleusercontent.com"> -->

    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Sweer Alert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>

    <!-- Vue APP start HERE -->
    <div id="app">
        <div v-if="currentPage === 'signin'">
            <div class="formSection" id="signin-page">
                <div class="info">
                    <h2 class="brand">DeepPress</h2>
                    <i class="fab fa-envira icon"></i>
                    <p>Let's Build some website!</p>
                </div>
                <form class="form">
                    <h2>Sign In </h2>
                    <ul class="noBulletli">
                        <li>
                            <!-- <span class="error" v-if="emailError == true">Invalid Email Format</span> -->
                            <input type="email" class="inputFields" id="email" placeholder="Email" v-model="email" />
                        </li>
                        <li>
                            <!-- <span class="error" v-if="passwordError == true">Password Min (5) character</span> -->
                            <input type="password" class="inputFields" id="password" placeholder="Password" v-model="password" />
                        </li>
                        <li id="center-btn">
                            <button id="signin-btn" @click="signin()">Sign In</button>
                        </li>
                    </ul>
                    <small>Don't have account yet? Register <a @click="changePage('register')" href="#">here</a> </small>
                    <br>
                    <small>Or, login with</small>
                    <!-- <div style="display: flex; justify-content:center; padding: 20px;">
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    </div> -->
                </form>
            </div>
        </div>
        <div v-else-if="currentPage === 'register'">
            <div class="formSection" id="register-page">
                <div class="info">
                    <h2 class="brand">DeepPress</h2>
                    <i class="fab fa-envira icon"></i>
                    <p>Let's Build some website!</p>
                </div>
                <form class="form">
                    <h2>Register</h2>
                    <ul class="noBulletli">
                        <li>
                            <span class="error" v-if="registerUsernameError == true">Username Min (5) character</span>
                            <input type="text" class="inputFields" id="username-register" placeholder="Username" v-model="registerUsername" />
                        </li>
                        <li>
                            <span class="error" v-if="registerPasswordError == true">Password Min(5) Character</span>
                            <input type="password" class="inputFields" id="password-register" placeholder="Password" v-model="registerPassword" />
                        </li>
                        <li>
                            <span class="error" v-if="registerPassword2Error == true">You retype different password! Please make it same!</span>
                            <input type="password" class="inputFields" placeholder="Password" v-model="registerPassword2" />
                        </li>
                        <li>
                            <span class="error" v-if="registerEmailError == true">Invalid Email Format</span>
                            <input type="email" class="inputFields" id="email-register" placeholder="Email" v-model="registerEmail" />
                        </li>
                        <li id="center-btn">
                            <button id="register-btn" @click="register">Register Now</button>
                        </li>
                    </ul>
                    <small>Already got an account? Login <a @click="changePage('signin')" href="#">here</a> </small>
                </form>
            </div>
        </div>
        <div v-else-if="currentPage === 'home'">

            <div class="sidenav">
                <a href="#" id="my-article-btn">
                    <span class="nav-icon" style="margin-right: 15px">
                    <i class="far fa-list-alt"></i>
                </span>
                    <span> My Article</span>
                </a>
                <a href="#" id="all-article-btn">
                    <span class="nav-icon" style="margin-right: 15px">
                    <i class="fas fa-list"></i>
                </span>
                    <span>
                    List of Articles
                </span>
                </a>
                <a href="#" id="add-article-btn">
                    <span class="nav-icon" style="margin-right: 15px">
                    <i class="fas fa-plus-square"></i> 
                </span>
                    <span> Add Article</span>
                </a>

                <a href="#" id="logout-btn">
                    <span class="nav-icon" style="margin-right: 15px">
                        <i class="fas fa-power-off"></i>
                </span> Logout
                </a>
            </div>

            <div class="main">
                <div class="main-container" id="myArticlePage">
                    <h3 class="m-3 article-header" style="text-align: center;">My Article</h3>
                    <!-- ARTICLE CARD -->
                    <div class="shadow pl-2 pt-3 mt-4">
                        <div class="row">
                            <div class="col-2">
                                <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="80px">
                            </div>
                            <div class="col-10">
                                <div>
                                    <h3 class="article-title" style="text-align: left">Lorem ipsum dolor sit a</h3>
                                    <div>
                                        <small>9 September 2019 - </small>
                                        <small class="font-weight-bold">By: Kuruky</small>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <ul class="tags">
                                            <li class="tag">Istri</li>
                                            <li class="tag">Calon</li>
                                            <li class="tag">Hayalan</li>
                                        </ul>
                                        <div style="margin-right: 20px; padding-top: 20px;">
                                            <!-- Masukin ID Article keparams -->
                                            <button class="viewMore-btn" onclick="renderOneArticle()">View More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COPY PASTE THIS THING -->

                    <!-- END OF CARD -->
                </div>
                <!-- END OF MY ARTICLE PAGE -->

                <!-- View One Article -->
                <div class="main-container" id="oneArticle" style="display: none">
                    <!-- ARTICLE CARD -->
                    <div class="shadow pl-2 pt-3 mt-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    <h3 class="article-title" style="text-align: left">Lorem ipsum dolor sit a</h3>
                                    <div>
                                        <small>9 September 2019 - </small>
                                        <small class="font-weight-bold">By: Kuruky</small>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <ul class="tags">
                                            <li class="tag">Istri</li>
                                            <li class="tag">Calon</li>
                                            <li class="tag">Hayalan</li>
                                        </ul>
                                    </div>
                                    <p class="article pr-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolor aut rem sit, temporibus magnam accusantium expedita, soluta aperiam praesentium animi velit, natus facilis asperiores! Dignissimos quia iusto unde amet.lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut hic, excepturi aliquid ea vero adipisci veniam quam nihil eligendi voluptates illum odio rerum aliquam voluptatibus tenetur ratione? Est, esse deleniti!</p>
                                </div>
                                <div class="wrap pt-3" style="text-align: center">
                                    <a href="#" class="button2" onclick="renderEditArticle()">Edit</a>
                                    <a href="#" class="button2">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF ONE ARTICLE -->

                <!-- All Articles -->
                <div class="main-container" id="allArticlePage" style="display: none">
                    <h3 class="m-3 article-header" style="text-align: center;">List of All Articles</h3>
                    <!-- ARTICLE CARD -->
                    <div class="shadow pl-2 pt-3 mt-4">
                        <div class="row">
                            <div class="col-2">
                                <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="80px">
                            </div>
                            <div class="col-10">
                                <div>
                                    <h3 class="article-title" style="text-align: left">Lorem ipsum dolor sit a</h3>
                                    <div>
                                        <small>9 September 2019 - </small>
                                        <small class="font-weight-bold">By: Kuruky</small>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <ul class="tags">
                                            <li class="tag">Istri</li>
                                            <li class="tag">Calon</li>
                                            <li class="tag">Hayalan</li>
                                        </ul>
                                        <div style="margin-right: 20px; padding-top: 20px;">
                                            <!-- Masukin ID Article keparams -->
                                            <button class="viewMore-btn" onclick="renderOneArticle()">View More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COPY PASTE THIS THING -->
                    <div class="shadow pl-2 pt-3 mt-4">
                        <div class="row">
                            <div class="col-2">
                                <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="80px">
                            </div>
                            <div class="col-10">
                                <div>
                                    <h3 class="article-title" style="text-align: left">Lorem ipsum dolor sit a</h3>
                                    <div>
                                        <small>9 September 2019 - </small>
                                        <small class="font-weight-bold">By: Kuruky</small>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <ul class="tags">
                                            <li class="tag">Istri</li>
                                            <li class="tag">Calon</li>
                                            <li class="tag">Hayalan</li>
                                        </ul>
                                        <div style="margin-right: 20px; padding-top: 20px;">
                                            <!-- Masukin ID Article keparams -->
                                            <button class="viewMore-btn" onclick="renderOneArticle()">View More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF CARD -->

                </div>
                <!-- END OF ALL ARTICLE -->

                <!-- Add New Article -->
                <div class="main-container" id="addNewArticle" style="display: none;">
                    <h3 class="m-3 article-header" style="text-align: center;">Add New Article</h3>
                    <div class="shadow newArticle">
                        <form>
                            <div class="form-group">
                                <label><i class="fas fa-pencil-alt"></i> Title</label>
                                <input type="text" class="form-control" placeholder="Some Title Here...">
                            </div>
                            <div class="form-group">
                                <label><i class="fas fa-tags"></i> Tags</label>
                                <input type="text" class="form-control" placeholder="Tags">
                            </div>
                            <div class="form-group">
                                <label><i class="fas fa-bookmark"></i> Content</label>
                                <!-- <textarea class="form-control" rows="13" placeholder="Remember write something nice..."></textarea> -->
                                <div id="editor">
                                    <p>Hello World!</p>
                                    <p>Some initial <strong>bold</strong> text</p>
                                    <p>
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><i class="far fa-images"></i> Image</label>
                                <div class="file-input">
                                    <input type="file" class="form-control-file">
                                </div>
                            </div>
                            <div class="wrap" style="text-align: center">
                                <a href="#" class="button2" style="background-color:darkslateblue; color:white">Add Article</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END OF ADD ARTICLE -->

                <!-- Edit Article -->
                <div class="main-container" id="editArticle" style="display: none">
                    <h3 class="m-3 article-header" style="text-align: center;">Edit Article</h3>
                    <div class="shadow newArticle">
                        <form>
                            <div class="form-group">

                                <label><i class="fas fa-pencil-alt"></i> Title</label>
                                <input type="text" class="form-control" placeholder="Some Title Here...">
                            </div>
                            <div class="form-group">
                                <label><i class="fas fa-tags"></i> Tags</label>
                                <input type="text" class="form-control" placeholder="Tags">
                            </div>
                            <div class="form-group">
                                <label><i class="fas fa-bookmark"></i> Content</label>
                                <!-- <textarea class="form-control" rows="13" placeholder="Remember write something nice..."></textarea> -->
                                <div id="edit-editor">
                                    <p>Hello World!</p>
                                    <p>Some initial <strong>bold</strong> text</p>
                                    <p>
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="80px">
                                </div>
                                <label><i class="far fa-images"></i> Image</label>
                                <div class="file-input">
                                    <input type="file" class="form-control-file">
                                </div>
                            </div>
                            <div class="wrap" style="text-align: center">
                                <a href="#" class="button2" style="background-color:darkslateblue; color:white">Edit Article</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Of Edit Article -->

            </div>

        </div>

        <!-- Vue App END HERE -->

        <div class="container" id="loginRegisterPage" style="display: none;">
            <!-- <div class="formSection" id="signin-page" action=''>
            <div class="info">
                <h2 class="brand">DeepPress</h2>
                <i class="fab fa-envira icon"></i>
                <p>Let's Build some website!</p>
            </div>
            <form class="form">
                <h2>Sign In </h2>
                <ul class="noBulletli">
                    <li>
                        <span id="usernameError" class="error"></span>
                        <input type="text" class="inputFields" id="username" name="username" placeholder="Username" oninput="return userNameValidation(this.value)" />
                    </li>
                    <li>
                        <span id="passwordError" class="error"></span>
                        <input type="password" class="inputFields" id="password" name="password" placeholder="Password" oninput="return passwordValidation(this.value)" />
                    </li>
                    <li>
                        <input type="email" class="inputFields" id="email" name="email" placeholder="Email" />
                    </li>
                    <li id="center-btn">
                        <button id="signin-btn">Sign In</button>
                    </li>
                </ul>
                <small>Don't have account yet? Register <a onclick="registerPage()" href="#">here</a> </small><br>
                <small>Or, login with</small>
                <div style="display: flex; justify-content:center; padding: 20px;">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div> 
            </form>
        </div>
         -->
            <!--          
        <div class="formSection" id="register-page" style="display: none">
                <div class="info">
                    <h2 class="brand">DeepPress</h2>
                    <i class="fab fa-envira icon"></i>
                    <p>Let's Build some website!</p>
                </div>
            <form class="form">
                <h2>Register</h2>
                <ul class="noBulletli">
                    <li>
                        <span id="usernameError-register" class="error"></span>
                        <input type="text" class="inputFields" id="username-register" placeholder="Username" oninput="return userNameValidation(this.value, true)" />
                    </li>
                    <li>
                        <span id="passwordError-register" class="error"></span>
                        <input type="password" class="inputFields" id="password-register" placeholder="Password" oninput="return passwordValidation(this.value, true)" />
                    </li>
                    <li>
                        <span id="re-passwordError-register" class="error"></span>
                        <input type="password" class="inputFields" placeholder="Password" oninput="return reenterPassword(this.value)" />
                    </li>
                    <li>
                        <label for="email"></label>
                        <input type="email" class="inputFields" id="email-register" placeholder="Email" />
                    </li>
                    <li id="center-btn">
                        <button id="register-btn">Register Now</button>
                    </li>
                </ul>
                <small>Already got an account? Login <a onclick="loginPage()" href="#">here</a> </small>
            </form>
        </div> -->
        </div>

        <div id="home" style="display: none;">
            <div class="sidenav">
                <a href="#" id="my-article-btn">
                    <span class="nav-icon" style="margin-right: 15px">
                    <i class="far fa-list-alt"></i>
                </span>
                    <span> My Article</span>
                </a>
                <a href="#" id="all-article-btn">
                    <span class="nav-icon" style="margin-right: 15px">
                    <i class="fas fa-list"></i>
                </span>
                    <span>
                    List of Articles
                </span>
                </a>
                <a href="#" id="add-article-btn">
                    <span class="nav-icon" style="margin-right: 15px">
                    <i class="fas fa-plus-square"></i> 
                </span>
                    <span> Add Article</span>
                </a>

                <a href="#" id="logout-btn">
                    <span class="nav-icon" style="margin-right: 15px">
                        <i class="fas fa-power-off"></i>
                </span> Logout
                </a>
            </div>

            <div class="main">
                <!-- My Article Page DISPLAYNYA ILANGIN-->
                <div class="main-container" id="myArticlePage" style="display: none;">
                    <h3 class="m-3 article-header" style="text-align: center;">My Article</h3>
                    <!-- ARTICLE CARD -->
                    <div class="shadow pl-2 pt-3 mt-4">
                        <div class="row">
                            <div class="col-2">
                                <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="80px">
                            </div>
                            <div class="col-10">
                                <div>
                                    <h3 class="article-title" style="text-align: left">Lorem ipsum dolor sit a</h3>
                                    <div>
                                        <small>9 September 2019 - </small>
                                        <small class="font-weight-bold">By: Kuruky</small>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <ul class="tags">
                                            <li class="tag">Istri</li>
                                            <li class="tag">Calon</li>
                                            <li class="tag">Hayalan</li>
                                        </ul>
                                        <div style="margin-right: 20px; padding-top: 20px;">
                                            <!-- Masukin ID Article keparams -->
                                            <button class="viewMore-btn" onclick="renderOneArticle()">View More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COPY PASTE THIS THING -->

                    <!-- END OF CARD -->
                </div>
                <!-- END OF MY ARTICLE PAGE -->

                <!-- View One Article -->
                <div class="main-container" id="oneArticle" style="display: none">
                    <!-- ARTICLE CARD -->
                    <div class="shadow pl-2 pt-3 mt-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    <h3 class="article-title" style="text-align: left">Lorem ipsum dolor sit a</h3>
                                    <div>
                                        <small>9 September 2019 - </small>
                                        <small class="font-weight-bold">By: Kuruky</small>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <ul class="tags">
                                            <li class="tag">Istri</li>
                                            <li class="tag">Calon</li>
                                            <li class="tag">Hayalan</li>
                                        </ul>
                                    </div>
                                    <p class="article pr-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolor aut rem sit, temporibus magnam accusantium expedita, soluta aperiam praesentium animi velit, natus facilis asperiores! Dignissimos quia iusto unde amet.lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut hic, excepturi aliquid ea vero adipisci veniam quam nihil eligendi voluptates illum odio rerum aliquam voluptatibus tenetur ratione? Est, esse deleniti!</p>
                                </div>
                                <div class="wrap pt-3" style="text-align: center">
                                    <a href="#" class="button2" onclick="renderEditArticle()">Edit</a>
                                    <a href="#" class="button2">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF ONE ARTICLE -->

                <!-- All Articles -->
                <div class="main-container" id="allArticlePage" style="display: none">
                    <h3 class="m-3 article-header" style="text-align: center;">List of All Articles</h3>
                    <!-- ARTICLE CARD -->
                    <div class="shadow pl-2 pt-3 mt-4">
                        <div class="row">
                            <div class="col-2">
                                <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="80px">
                            </div>
                            <div class="col-10">
                                <div>
                                    <h3 class="article-title" style="text-align: left">Lorem ipsum dolor sit a</h3>
                                    <div>
                                        <small>9 September 2019 - </small>
                                        <small class="font-weight-bold">By: Kuruky</small>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <ul class="tags">
                                            <li class="tag">Istri</li>
                                            <li class="tag">Calon</li>
                                            <li class="tag">Hayalan</li>
                                        </ul>
                                        <div style="margin-right: 20px; padding-top: 20px;">
                                            <!-- Masukin ID Article keparams -->
                                            <button class="viewMore-btn" onclick="renderOneArticle()">View More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COPY PASTE THIS THING -->
                    <div class="shadow pl-2 pt-3 mt-4">
                        <div class="row">
                            <div class="col-2">
                                <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="80px">
                            </div>
                            <div class="col-10">
                                <div>
                                    <h3 class="article-title" style="text-align: left">Lorem ipsum dolor sit a</h3>
                                    <div>
                                        <small>9 September 2019 - </small>
                                        <small class="font-weight-bold">By: Kuruky</small>
                                    </div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <ul class="tags">
                                            <li class="tag">Istri</li>
                                            <li class="tag">Calon</li>
                                            <li class="tag">Hayalan</li>
                                        </ul>
                                        <div style="margin-right: 20px; padding-top: 20px;">
                                            <!-- Masukin ID Article keparams -->
                                            <button class="viewMore-btn" onclick="renderOneArticle()">View More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF CARD -->
                </div>
                <!-- END OF ALL ARTICLE -->

                <!-- Add New Article -->
                <div class="main-container" id="addNewArticle" style="display: none;">
                    <h3 class="m-3 article-header" style="text-align: center;">Add New Article</h3>
                    <div class="shadow newArticle">
                        <form>
                            <div class="form-group">
                                <label><i class="fas fa-pencil-alt"></i> Title</label>
                                <input type="text" class="form-control" placeholder="Some Title Here...">
                            </div>
                            <div class="form-group">
                                <label><i class="fas fa-tags"></i> Tags</label>
                                <input type="text" class="form-control" placeholder="Tags">
                            </div>
                            <div class="form-group">
                                <label><i class="fas fa-bookmark"></i> Content</label>
                                <!-- <textarea class="form-control" rows="13" placeholder="Remember write something nice..."></textarea> -->
                                <div id="editor">
                                    <p>Hello World!</p>
                                    <p>Some initial <strong>bold</strong> text</p>
                                    <p>
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><i class="far fa-images"></i> Image</label>
                                <div class="file-input">
                                    <input type="file" class="form-control-file">
                                </div>
                            </div>
                            <div class="wrap" style="text-align: center">
                                <a href="#" class="button2" style="background-color:darkslateblue; color:white">Add Article</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END OF ADD ARTICLE -->

                <!-- Edit Article -->
                <div class="main-container" id="editArticle">
                    <h3 class="m-3 article-header" style="text-align: center;">Edit Article</h3>
                    <div class="shadow newArticle">
                        <form>
                            <div class="form-group">

                                <label><i class="fas fa-pencil-alt"></i> Title</label>
                                <input type="text" class="form-control" placeholder="Some Title Here...">
                            </div>
                            <div class="form-group">
                                <label><i class="fas fa-tags"></i> Tags</label>
                                <input type="text" class="form-control" placeholder="Tags">
                            </div>
                            <div class="form-group">
                                <label><i class="fas fa-bookmark"></i> Content</label>
                                <!-- <textarea class="form-control" rows="13" placeholder="Remember write something nice..."></textarea> -->
                                <div id="edit-editor">
                                    <p>Hello World!</p>
                                    <p>Some initial <strong>bold</strong> text</p>
                                    <p>
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <img src="https://i.pinimg.com/originals/15/51/69/1551696c66b26f200c3ba94641316780.jpg" alt="image" width="80px">
                                </div>
                                <label><i class="far fa-images"></i> Image</label>
                                <div class="file-input">
                                    <input type="file" class="form-control-file">
                                </div>
                            </div>
                            <div class="wrap" style="text-align: center">
                                <a href="#" class="button2" style="background-color:darkslateblue; color:white">Edit Article</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Of Edit Article -->
            </div>
        </div>


        <!-- Vue JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
        <!-- Quill Library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <!-- Validation JS [Helpers] -->
        <script src="./js/form.js"></script>

        <!-- Vue JS -->
        <script src="./js/app.js"></script>

        <script>
            // Quill
            // var quill = new Quill('#editor', {
            //     theme: 'snow'
            // });
            // var quill = new Quill('#edit-editor', {
            //     theme: 'snow'
            // });
            // END OF QUILL

            // $(document).ready( function () {
            //     if ( login ) {
            //         renderHomePage();
            //     } else {
            //         renderLoginRegisterPage();
            //     }
            // })

            // Sign In
            $('#signin-btn').on('click', function(e) {
                    e.preventDefault();
                    renderHomePage();
                })
                // Logout 
            $('#logout-btn').click(function(e) {
                e.preventDefault();
                renderLoginRegisterPage();
            })

            // Register 
            $('#register-btn').on('submit', function() {

            })

            // My Article
            $('#my-article-btn').click(function(e) {
                    e.preventDefault();
                    renderMyArticle();
                })
                // All Articles
            $('#all-article-btn').click(function(e) {
                    e.preventDefault();
                    renderAllArticles();
                })
                // Add Article
            $('#add-article-btn').click(function(e) {
                e.preventDefault();
                renderAddNewArticle();
            })

            function renderHomePage() {
                // semua form dihide
                $('#loginRegisterPage').hide();
                // App dishow
                $('#home').show();
                renderMyArticle();
            }

            function renderLoginRegisterPage() {
                // App dihide
                $('#home').hide();
                $('#loginRegisterPage').show();
            }

            function renderMyArticle() {
                $('#allArticlePage').hide();
                $('#addNewArticle').hide();
                $('#oneArticle').hide();
                $('#editArticle').hide();

                $('#myArticlePage').show();
            }

            function renderAllArticles() {
                $('#myArticlePage').hide();
                $('#addNewArticle').hide();
                $('#oneArticle').hide();
                $('#editArticle').hide();

                $('#allArticlePage').show();
            }

            function renderAddNewArticle() {
                $('#myArticlePage').hide();
                $('#allArticlePage').hide();
                $('#oneArticle').hide();
                $('#editArticle').hide();

                $('#addNewArticle').show();
            }

            function renderOneArticle() {
                $('#myArticlePage').hide();
                $('#allArticlePage').hide();
                $('#editArticle').hide();

                $('#oneArticle').show();
            }

            function renderEditArticle() {
                $('#myArticlePage').hide();
                $('#allArticlePage').hide();
                $('#oneArticle').hide();

                $('#editArticle').show();
            }
        </script>
</body>

</html>